#main .carousel-inner img{
  max-height: 80vh;
  object-fit: contain;

}

#containerContact{
  background-color: white;
}

@font-face {
  font-family: edosz;
  src: url("assets/css/fuentes/edosz.ttf");
}



#foot {
font-family: cursive;
}
#parrafoQuienes{
  font-family: cursive;
}

#contTarjetas{

font-family: cursive;
}

#titTerminos{
  text-align: center;
}

#titLicencia{
  text-align: center;
  font-family: cursive;
}


#main{
background-image: url("../img/fondo.jpg");
}
#main-contactanos{
  background-image: url("../img/contactanos2.jpg");
}
#mainComerc{
  background-image: url("../img/pago.jpg");
  font-family: cursive;

}


#navLogo{
  background-color: white;
}
.card-body{
  background: #323232;

}


#alineac{
  text-align: justify;
}

#mainQuienes{
  background-image: url("../img/fondo-madera.jpg");
}

#centro-p{
  padding: 40px;
}

#formasPago{
  color: rgb(236, 33, 228);

}

#seccionComerc{
  padding: inherit;
  background-color: rgb(98, 204, 210);
}

#secComer2{

  background-color: rgb(250, 56, 242);
}

.card-title{
  color:white;
}

.card-text {
   color: white;
}


#logo{
  height: 60px;
}

#main-contactanos{
  padding: 60px;

}

.btn-outline-success{
  color: #BD2130;
  border-color: black;
}
#rowTerminos{
  text-align: justify;
  font-family:cursive;
}
.container a{
  color:rgb(13, 17, 16);
}

#parrafo-licencia{
  text-align:justify;
}
